//on cible le selecteur de notre composant
:host {
  // @extend %block;
  display: block;
  padding: 0;
  .card {
    box-shadow: 2px 2px 3px #ffffff61;
    width: max-content;
    cursor: pointer;
    img {
      object-fit: cover;
      height: 250px;
    }
    &:hover{
        border: 1px solid #3891a6;
        transition: .2s ease-out;
    }
  }
}

//si le selecteur a une classe active
:host(.active) .card {
  translate: 10px;
}
//si app-root a la classe ok notre composant applique ca
:host-context(.ok) {
  font-weight: bold;
}

